<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Nas Hr</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>nashr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-849512939836-ios-9f5317da6b16ae6083de39</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<!-- ✅ Push Notifications Permissions -->
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
	    <string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>UNUserNotificationCenter</key>
	<true/>

	<!-- ✅ Usage Descriptions -->
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take pictures</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to secure your data</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location in the background for tracking.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app uses your location even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location for remote login and services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone to record audio messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need photo library access to save images</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo library access to select images</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to speech recognition for voice features.</string>

	<!-- Other App Settings -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>mailto</string>
		<string>http</string>
		<string>https</string>
		<string>sms</string>
		<string>file</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key><true/>
    </dict>
</dict>
</plist>
